version: '3.9'

services:
  db:
    image: postgres:15
    container_name: netflix_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: netflix
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:

  docker-compose up -d

  pip install sqlalchemy psycopg2-binary

  from sqlalchemy import create_engine

engine = create_engine("postgresql://user:password@localhost:5432/netflix")

engine.connect()

import pandas as pd

df = pd.read_csv("netflix_titles.csv")
df.head()


df.to_sql("titles", engine, if_exists="replace", index=False)

movies = pd.read_sql_query("""
    SELECT *
    FROM titles
    WHERE type = 'Movie';
""", engine)

movies.head()

rated = pd.read_sql_query("""
    SELECT *
    FROM titles
    WHERE rating IN ('R', 'TV-MA');
""", engine)

rated.head()

extra = pd.read_csv("netflix_extra.csv")
extra

inner_merge = df.merge(extra, on="show_id", how="inner")
inner_merge

left_merge = df.merge(extra, on="show_id", how="left")
left_merge

right_merge = df.merge(extra, on="show_id", how="right")
right_merge

outer_merge = df.merge(extra, on="show_id", how="outer")
outer_merge


